<nav class="navbar navbar-expand-sm bg-light navbar-light ">
  <ul class=" navbar navbar-nav">
    <li><button (click)="onGetAllProduct();" class="btn   btn-sm btn-outline-info ml-2 ">All</button></li>
    <li><button (click)="onGetSelectedProduct();" class="btn  btn-sm btn-outline-info ml-2">Selected</button></li>
    <li><button (click)="onGetAvailableProduct();" class="btn  btn-sm btn-outline-info ml-2">Available</button></li>
    <li><button (click)="onNewProduct();" class="btn  btn-sm btn-outline-info ml-2">New</button></li>

  </ul>

  <ul class="navbar navbar-nav ml-auto">
    <li>
      <div *ngIf="productFormGroup">
        <form class="form-inline " [formGroup]="productFormGroup" (ngSubmit)="onSearch()">
          <input formControlName="keyword" type="text" id="">
          <button class="btn btn-sm btn-outline-info ml-1">
            <span class="fa fa-search"></span>
          </button>
        </form>
      </div>
    </li>
  </ul>

</nav>